*.o
/release
/sen44-uart/sen44_example_usage
/sen44-uart/user_config.inc
/sps30-uart/sps30_example_usage
/sps30-uart/user_config.inc
/sps-common/sps_git_version.c
/tests/sps30-test-uart
/tests/sen44-test-uart
